* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* FONDO GENERAL */
body {
    background-color: #091d36c6;
    padding: 20px;
}

body:hover {
    animation: cambiarColor 10s ease-in-out infinite;
}

@keyframes cambiarColor {
    0% {
        background-color: #091d36c6;
    }
    50% {
        background-color: #112641;
    }
    100% {
        background-color: #091d36c6;
    }
}

a {
  text-decoration: none; 
  color: inherit;
}
/* CONTENEDOR PRINCIPAL */
.cv-container {
    display: flex;
    max-width: 1000px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
}

/* COLUMNA IZQUIERDA */
.sidebar {
    width: 30%;
    background-color: #171f26;
    color: #ffffff;
    padding: 20px;
}
.sidebar:hover {
    background-color: #0b0f18;
    transition: background-color 0.4s ease;
}

/* PERFIL */
.profile {
    text-align: center;
    margin-bottom: 30px;
}

.profile img {
    width: 150px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.profile:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: rgb(83, 101, 128) 0px 0px 10px;
}

.profile h1 {
    font-size: 22px;
}

.profile h2 {
    font-size: 14px;
    font-weight: normal;
    color: #cbd5e1;
}

/* SECCIONES LATERALES */
.sidebar section {
    margin-bottom: 25px;
}

.sidebar h3 {
    border-bottom: 1px solid #475569;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

/* LISTAS */
.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 6px;
}

/* COLUMNA DERECHA */
.content {
    width: 70%;
    padding: 30px;
}
.content:hover {
    background-color: #f3f4f6;
    transition: background-color 0.3s ease;
}
/* SECCIONES PRINCIPALES */
.content section {
    margin-bottom: 30px;
}

.content h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #1f2933;
    border-bottom: 2px solid #e5e7eb;
    padding-bottom: 5px;
}

/* ARTÍCULOS */
.content article {
    margin-bottom: 15px;
}

.content h4 {
    font-size: 16px;
    font-weight: bold;
}

.content span {
    font-size: 13px;
    color: #6b7280;
}

.content p {
    margin-top: 5px;
    line-height: 1.5;
}

/* PIE DE PÁGINA */
footer {
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
    font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .cv-container {
        flex-direction: column;
    }

    .sidebar,
    .content {
        width: 100%;
    }
}